In [3]:
import numpy as np
import pandas as pd

In [45]:
rand = np.random.random_sample((10, 5))
rand

array([[0.68937369, 0.89663535, 0.16307703, 0.78880889, 0.50121041],
       [0.06666886, 0.72117401, 0.62954094, 0.296071  , 0.9051518 ],
       [0.33513604, 0.50263795, 0.23714167, 0.80379417, 0.8310964 ],
       [0.88519105, 0.43172676, 0.72022699, 0.60261986, 0.10853981],
       [0.46747148, 0.44499195, 0.9305127 , 0.3451311 , 0.66494698],
       [0.83874191, 0.87645447, 0.42451697, 0.99494061, 0.70419215],
       [0.49257603, 0.1411942 , 0.91280435, 0.57490502, 0.96146065],
       [0.23096321, 0.67335668, 0.09571681, 0.13426753, 0.4682892 ],
       [0.1287064 , 0.40101468, 0.62721867, 0.82681118, 0.71077191],
       [0.98996377, 0.42301844, 0.82770845, 0.08824871, 0.92441103]])

In [47]:
rand = pd.DataFrame(rand)
rand

          0         1         2         3         4
0  0.689374  0.896635  0.163077  0.788809  0.501210
1  0.066669  0.721174  0.629541  0.296071  0.905152
2  0.335136  0.502638  0.237142  0.803794  0.831096
3  0.885191  0.431727  0.720227  0.602620  0.108540
4  0.467471  0.444992  0.930513  0.345131  0.664947
5  0.838742  0.876454  0.424517  0.994941  0.704192
6  0.492576  0.141194  0.912804  0.574905  0.961461
7  0.230963  0.673357  0.095717  0.134268  0.468289
8  0.128706  0.401015  0.627219  0.826811  0.710772
9  0.989964  0.423018  0.827708  0.088249  0.924411

time-series data
group data using date

pandas on top of numpy
ndarray: n-dimensional arrays

In [5]:
x = pd.DataFrame({"a": [4, 5, 6, 7],
"b": [7, 8, 9, 10],
"c": [10, 11, 12, 13]})
x.shape

(4, 3)

In [6]:
df = pd.DataFrame({
    "col0": [1, 2, 3],
    "col1": [4, 5, 6]
}, index = ["row0", "row1", "row2"])
df

      col0  col1
row0     1     4
row1     2     5
row2     3     6

In [89]:
df["col1"]

row0    4
row1    5
row2    6
Name: col1, dtype: int64

In [11]:
df.loc[:,"col1"]

row0    4
row1    5
row2    6
Name: col1, dtype: int64

In [85]:
df.sort_values(by = 'a', ascending = True)

KeyError: 'a'

In [24]:
df * 2

     a     b
foo  2     8
bar  4    10
baz  6  1998

In [31]:
df.loc["foo"]

a    1
b    4
Name: foo, dtype: int64

In [48]:
rand.head()

          0         1         2         3         4
0  0.689374  0.896635  0.163077  0.788809  0.501210
1  0.066669  0.721174  0.629541  0.296071  0.905152
2  0.335136  0.502638  0.237142  0.803794  0.831096
3  0.885191  0.431727  0.720227  0.602620  0.108540
4  0.467471  0.444992  0.930513  0.345131  0.664947

In [54]:
df["a"]["foo"] = None
df

       a    b
foo  NaN    4
bar  2.0    5
baz  3.0  999

In [56]:
df.dropna()

       a    b
bar  2.0    5
baz  3.0  999

In [58]:
df = pd.DataFrame({
    "name": pd.Series(["a", "b", "c"]),
    "mid": pd.Series([99, 64, 87]),
})
df

  name  mid
0    a   99
1    b   64
2    c   87

In [62]:
df[df["mid"] > 90]

  name  mid
0    a   99

KeyError: 'a'