In [1]:
from IPython.display import display, Markdown, Latex, clear_output

# Lists of ingredients for salsa verde
Recipe by Luis Alvarez y Alvarez, published in [Bon Appetit](https://www.bonappetit.com/recipe/tomatillo-salsa-verde)

In [2]:
salsa_verde = ['tomatillos', 'serrano chile', 'garlic', 'onion', 'cilantro', 'kosher salt']

## How many ingredients?

In [3]:
len(salsa_verde)

6

## Grab the salt

In [4]:
salsa_verde[-1]

'kosher salt'

## Pass the pepper

In [5]:
mild_salsa = salsa_verde[0 : salsa_verde.index('serrano chile')] + salsa_verde[salsa_verde.index('serrano chile') + 1 : ]
mild_salsa

['tomatillos', 'garlic', 'onion', 'cilantro', 'kosher salt']

## Mix it all up

In [6]:
import random
random.shuffle(mild_salsa)
mild_salsa

['garlic', 'cilantro', 'tomatillos', 'kosher salt', 'onion']

## Straighten it out and flip it in reverse

In [7]:
mild_salsa.sort()
mild_salsa.reverse()
mild_salsa

['tomatillos', 'onion', 'kosher salt', 'garlic', 'cilantro']

## Treble the recipe

In [8]:
mild_salsa = mild_salsa * 3
mild_salsa

['tomatillos',
 'onion',
 'kosher salt',
 'garlic',
 'cilantro',
 'tomatillos',
 'onion',
 'kosher salt',
 'garlic',
 'cilantro',
 'tomatillos',
 'onion',
 'kosher salt',
 'garlic',
 'cilantro']

## Did we take out the chiles?

In [9]:
'serrano chile' not in mild_salsa

True

## But not the tomatillos, I hope

In [10]:
'tomatillos' in mild_salsa

True

## What ingredients to buy?

In [11]:
unique_ingredients = set(mild_salsa)
unique_ingredients

{'cilantro', 'garlic', 'kosher salt', 'onion', 'tomatillos'}

## How many?

In [12]:
display('MILD SALSA VERDE - SHOPPING LIST')
for ingredient in unique_ingredients:
    num_to_buy = mild_salsa.count(ingredient)
    display( '* {} x {}'.format(ingredient, num_to_buy).title() )

'MILD SALSA VERDE - SHOPPING LIST'

'* Kosher Salt X 3'

'* Garlic X 3'

'* Cilantro X 3'

'* Tomatillos X 3'

'* Onion X 3'

# Sequence Types

## lists, strings... range objects?

* iterate (`for` loop)
* index (`[]`)
* built-in functions: `len`
* concatenation and repetition `+` and `*`
* `in` and `not in`
* slicing `[start:stop:step]`

## A Little About Range

### range is an Immutable Sequence Type!

* you can loop
* ...index
* ...but you can't assign

In [13]:
r = range(5)
display(type(r))
display(r[0])

range

0

In [14]:
for i in r:
    display(i)

0

1

2

3

4

### Assignment Will Raise a TypeError!

In [15]:
try:
    r[0] = 21
except TypeError as e:
    display(type(e), e)

TypeError

TypeError("'range' object does not support item assignment")

## Tuples are Also an Immutable Squence Type

### Note that you can create a tuple simply with commas

But there are some instances where you need parentheses

In [16]:
# only commas!
t = 1, 2, 3

# with one element, element and comma
one_element = 2,

display(t)
display(one_element)

(1, 2, 3)

(2,)

In [17]:
# note that if you want a tuple literal as an argument
# ...it has to be wrapped in parentheses
display((1, 2, 3), 4)

(1, 2, 3)

4

### Again Immutable!

In [18]:
try:
    t[0] = 'please change!'
except TypeError as e:
    display(type(e), e)

TypeError

TypeError("'tuple' object does not support item assignment")

### Unpacking...

In [19]:
word1, word2 = 'foo', 'bar'
t2 = 'foo', 'bar'

In [20]:
word1, word2 = t2

### Tuples in a List

In [21]:
points = [(1, 2), (3, 4), (5, 6)]
for p in points:
    # type is tuple on each iteration...
    display(type(p))
    display(p)

tuple

(1, 2)

tuple

(3, 4)

tuple

(5, 6)

In [22]:
# printing out both the x and y components
for p in points:
    # this requires indexing...
    display('x', p[0])
    display('y', p[1])

'x'

1

'y'

2

'x'

3

'y'

4

'x'

5

'y'

6

### Unpacking Directly in Loop Variable

In [23]:
for x, y in points:
    display('x', x)
    display('y', y)

'x'

1

'y'

2

'x'

3

'y'

4

'x'

5

'y'

6

### Using enumerate to get index and element

In [24]:
# old way with range...
rappers = ['royce da 59', 'mgk', 'eminmem']
for i in range(len(rappers)):
    display(i, rappers[i])

0

'royce da 59'

1

'mgk'

2

'eminmem'

In [25]:
result = enumerate(rappers)

In [26]:
result

In [27]:
list(result)

[(0, 'royce da 59'), (1, 'mgk'), (2, 'eminmem')]

In [28]:
# enumerate!
for i, rapper_name in enumerate(rappers):
    display(i, rapper_name)

0

'royce da 59'

1

'mgk'

2

'eminmem'

## Dictionaries and Using items

In [29]:
person = {"first":"joe", "last":"v", "middle": "j"}

In [30]:
for prop in person:
    display(prop)

'first'

'last'

'middle'

In [31]:
for k in person:
    display(person[k])

'joe'

'v'

'j'

In [32]:
list(person.items())

[('first', 'joe'), ('last', 'v'), ('middle', 'j')]

In [33]:
for k, v in person.items():
    display(k, v)

'first'

'joe'

'last'

'v'

'middle'

'j'

In [34]:
result = person.values()

In [35]:
result

dict_values(['joe', 'v', 'j'])

### Sets

In [36]:
# use curly braces
words = {'foo', 'bar', 'baz', 'foo'}
display(words)

{'bar', 'baz', 'foo'}

In [37]:
# creating an empty set ({} is an empty dictionary, not a n empty set)
empty = set()

In [38]:
words2 = {'qux','corge'}

In [39]:
words.union(words2)

{'bar', 'baz', 'corge', 'foo', 'qux'}

In [40]:
words | words2

{'bar', 'baz', 'corge', 'foo', 'qux'}

In [41]:
words.union(words2, {'quxx', 'idk'})

{'bar', 'baz', 'corge', 'foo', 'idk', 'qux', 'quxx'}

In [42]:
words & {'bar', 'baz', 'qux'}

{'bar', 'baz'}

In [43]:
try:
    # set elements cannot be mutable!
    {'foo', [1, 2, 3]}
except TypeError as e:
    display(type(e), e)

TypeError

TypeError("unhashable type: 'list'")

In [44]:
set([1, 2, 2, 2, 3])

{1, 2, 3}

In [45]:
words

{'bar', 'baz', 'foo'}

In [46]:
# methods may take iterables, and methods like union will work
words.union([1, 2, 3])

{1, 2, 3, 'bar', 'baz', 'foo'}

In [47]:
try:
    # set operators will raise exception if there are different types
    words | [1, 2, 3]
except TypeError as e:
    display(type(e), e)

TypeError

TypeError("unsupported operand type(s) for |: 'set' and 'list'")

In [48]:
features = ('immutable', 'hashable', 'efficient', 'more rigid than lists')